@font-face {
  font-family: "KCC-Ganpan";
  font-weight: normal;
  src: url("../../fonts/KCC-Ganpan.ttf") format("truetype");
}

.ISHSlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #ffffff;
}

.logo {
  display: flex;
  justify-content: center;

  background-color: #ffffff;
  margin-top: 20px;
}

.login {
  position: absolute;
  left: 40vw;
  bottom: 51vh;
  width: 20vw;
  height: 6vh;
  outline: 0.2vmin black;
  font-size: 4vmin;
  font-family: "KCC-Ganpan";
}

.login:focus {
  position: absolute;
  left: 40vw;
  bottom: 51.5vh;
  width: 20vw;
  height: 6vh;
  outline: 0.5vmin black;
  font-size: 4vmin;
}

.password {
  position: absolute;
  left: 40vw;
  bottom: 43vh;
  width: 20vw;
  height: 6vh;
  outline: 0.2vmin black;
  font-size: 4vmin;
  font-family: "KCC-Ganpan";
}

.password:focus {
  position: absolute;
  left: 36vw;
  bottom: 43h;
  width: 28vw;
  height: 8vh;
  outline: 0.2vmin black;
  font-size: 6vmin;
}

.loginbutton {
  position: absolute;
  left: 40vw;
  bottom: 33vh;
  width: 20.5vw;
  height: 8vh;
  background-color: rgb(119, 146, 193);
  border: none;
  font-size: 4vmin;
  color: white;
  font-family: "KCC-Ganpan";
}

.message {
  position: absolute;
  font-size: 4vmin;
  left: 35vw;
  bottom: 17vh;
}

.findidpw {
  position: absolute;
  font-size: 2vmin;
  left: 45.5vw;
  bottom: 30vh;
  text-decoration: none;
  color: gray;
}
.signup {
  position: absolute;
  font-size: 2vmin;
  left: 56.5vw;
  bottom: 30vh;
  text-decoration: none;
  color: gray;
}

.middle {
  position: absolute;
  left: 55.5vw;
  bottom: 28vh;
  font-size: 2vmin;
  font-family: "KCC-Ganpan";
  color: gray;
}
