

  .ISHSlogo {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

  .log{
    margin: 0;
    font-family: math;
    position: absolute;
    font-size: 8vw;
    color: black;
    text-shadow:3px 5px 0 #6986BF;
    transition: all 0.2s ease;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  
  .han_ishs{
    margin: 0;
    position: absolute;
    font-size: 11vw;
    color: black;
    text-shadow:5px 7px 0 #6986BF;
    transition: all 0.2s ease;
    font-family: 'LeeSeoyun';
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
  }

  .han_ishs:hover{
    margin: 0;
    position: absolute;
    font-size: 11vw;
    color: black;
    text-shadow:0px 0px 0 #6986BF;
    transition: all 0.2s ease;
    font-family: 'LeeSeoyun';
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
  }

  
  @font-face {
    font-family: 'LeeSeoyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  .eng_ishs{
    margin: 0;
    position: absolute;
    font-size: 1.5vw;
    color: black;
    top: 96%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  .main_title{
    margin: 5%  0  0 26% ;
    position: relative;
    height: 30vh;
  }

  .main_btn{
    width: 20vw;
    height: 10vh;
    margin-top: 12vh;
    background: #799ADC;
    background: linear-gradient(0deg, #2d6ef0e4 0%, #799ADC 100%);
    line-height: 42px;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   outline: none;
  position: relative;
  display: inline-block;
  font-family: 'LeeSeoyun';
  }

  .btn1, .btn2{
    margin-right: 5vw;
  }

  .btn1{
    margin-left: 15vw;
  }

  .main_btn span {
    position: relative;
    display: block;
    width: 90%;
    height: 90%;
  }
  .main_btn:before,
  .main_btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: #2d6ef0e4;
    transition: all 0.3s ease;
  }
  .main_btn:before {
    height: 0%;
    width: 2px;
  }
  .main_btn:after {
    width: 0%;
    height: 2px;
  }
  .main_btn:hover{
     background: transparent;
    box-shadow: none;
    color: #2d6ef0e4;
  }
  .main_btn:hover:before {
    height: 100%;
  }
  .main_btn:hover:after {
    width: 100%;
  }
  .main_btn span:hover{
     color: #2d6ef0e4;
  }
  .main_btn span:before,
  .main_btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: #2d6ef0e4;
    transition: all 0.3s ease;
  }
  .main_btn span:before {
    width: 2px;
    height: 0%;
  }
  .main_btn span:after {
    width: 0%;
    height: 2px;
  }
  .main_btn span:hover:before {
    height: 100%; 
  }
  .main_btn span:hover:after {
    width: 100%;
  }
  

  .mypage {
    height: 8vh;
  }
  
  .loginbutton {
    font-family: 'LeeSeoyun';
    font-size: 30px;
    position: absolute;
    top: 2vh;
    left: 90vw;
    text-decoration: none;
    color: black;
  }
  
  .mypagebutton {
    position: absolute;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
    left: 90vw;
    top: 5vh;
    border: none;
    background-color: #FFFFFF;
  }



  