@font-face {
  font-family: "KCC-Ganpan";
  font-weight: normal;
  src: url("../../fonts/KCC-Ganpan.ttf") format("truetype");
}

body {
  font-family: "KCC-Ganpan";
}

.img {
  height: 30vh;
}

.button {
  height: 45vh;
  background-color: #ffffff;
  border: 6px;
  border-color: black;

  margin: 10px;
  border-style: solid;
  border-radius: 40px;
}
